/*
Tatu-Carreta v2.0
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 31-ago-2015, 17:30:52
    Author     : Estudio Laura Chuburu | Maxi Angeletti, Laura Chuburu, Carolina Labella, Eugenia Molinero
*/

body {margin:0; font-family: 'Source Sans Pro', arial, sans-serif;}

h1, h2, h3 {font-weight: 300}
ul, li {margin:0; padding:0; list-style: none}
a {text-decoration: none !important;}
a > i {margin-right:0.3em}
.fa-lg {font-size:1.1em}

$color_btn_principal: #286090;
$color_btn_principal_hover: #337ab7;


@mixin fondoDestacado {background: #F4F4EF; padding: 1em; box-sizing: border-box !important; margin-bottom:2em }
@mixin lineaPunteada {border: 1px dashed #999;}
@mixin marginBottom05 {margin-bottom: 0.5em}
@mixin marginBottom1 {margin-bottom: 1em}
@mixin marginBottom2 {margin-bottom: 2em}
@mixin ajustarImg {width:100%; height: auto}
@mixin position_i_top_right {position:absolute; top: 0.6em; right:0.4em; font-size:1.4em !important}

.fondoDestacado {background: #F4F4EF; padding: 1em; box-sizing: border-box !important; margin-bottom:2em}
.divDatos h3 {color: #517CBA; font-weight: 400; font-size:1.250em}

/* -- Botones y tooltips-- */

.btn {box-shadow: none;
	&:focus {box-shadow: none;}
	&:active {box-shadow: none;}
}
.btn + .btn {margin-left:1em}
.divInputFile {display: table;
	label.btn {width:30%}
	input.form-control {width: calc(100% - 1em);}
}
label.btn {display:table-cell}
label.btn + input.form-control {display:table-cell; vertical-align:middle; margin-left: 1em}
.btn-primary {background: $color_btn_principal;
	&:hover {background: $color_btn_principal_hover}
}
.btn i, .btnPrimary i {margin-right: 0.313em}

.volveraSeccion {font-size: 1em !important; color:#000; display:block; @include marginBottom2; 
	&:hover{color:#696969;}
	i {margin-right: 0.5em;}
}
// estilos para ocultar y dar forma el input type file
.oculto {z-index: 999;line-height: 0; font-size: 30px; position: absolute;opacity: 0;filter: alpha(opacity = 0);-ms-filter: "alpha(opacity=0)"; margin: 0;padding:0;left:0;top: 0;width: 130px;}
.tooltip {background: #000; color:#fff;}

#divLoading {display: none; position: fixed; top: 0; left: 0; z-index: 5000; width: 100%; height: 100%; text-align: center; background: rgba(255,255,255,0.7);
    img {position: absolute; top: 50%; left:50%; margin-top: -24px; margin-left: -24px}
    p {position: absolute; top:40%; width: 100%; font-size: 1.6em; }
}

/* -- Separadores -- */
.marginBottom1 {margin-bottom: 1em}
.marginBottom2 {margin-bottom: 2em}

/* -- HEADER -- */
header {background: #000;}
.logo {position: relative;z-index: 999;}


/* -- NAV -- */
.navbar {margin:0; border:none}
.navbar-default {background:transparent; border:none}
.dropdown-menu {background: #878979; padding: 15px 0; font-size: 16px; border-radius: 0; border: none}
.open {background: #878979}
.navbar-toggle {margin-top: 1em}
.divMenu {float: right;}
#menuPrincipal {
	a {background: transparent; font-size: 0.938em; color:#fff; font-weight: 300;background: transparent; height: 88px; line-height: 88px; padding: 0 30px !important; text-transform: uppercase; box-sizing: border-box;}
	a:hover {background: #878979}
	.dropdown li a {height: 35px; line-height: 35px; font-size: 0.938em;}
}

.btnCarrito {font-weight: 300; font-size: 0.938em; height: 88px; line-height: 88px; margin: 0 !important; background: #302F2F; color:#fff; padding: 0 30px !important; text-transform: uppercase; box-sizing: border-box; position: relative; z-index: 1000; float: right;
	&:hover {color:#fff;}
	i {display:none;}
}

.carrouselProdHome {margin-bottom: 6em}

/* -- SECTION -- */
section {padding-top: 3em;
	* > * > * {margin-top: 0 !important}
}

/* -- FOOTER -- */
footer {margin-top: 1em; padding: 4em 0}
.tarjetas{width: 100%;height: 100%; text-align: center;
		img {margin: 0 2em 2em 0; vertical-align: middle;}
}
.data-fiscal img {width: 30px; border: 0;margin-right: 0!important;}


/* -- PRODUCTOS -- */
//Listados Productos

.divListadoItems {border-top: 1px solid #c6c6c6; min-height: 5em; padding-top: 1em; vertical-align: top;
	&:nth-child(1) {border-top: 0 none;}
	h3 {margin: 0 1em 0 0 !important}
} 
.sinContenido {@include lineaPunteada; width: 100%; min-height: 260px; text-align: center; line-height: 250px; margin: 2em 0px 4em;}

.thumbnail {background: transparent; border-radius: 0; border:none; padding:0; position:relative;
	img {background:#fff; }
	.fa-times-circle {@include position_i_top_right;}
}

.bandaInfoProd {background: #efefef; padding: 0.5em 1em; color: #777774 !important; 
	.btn-default {color: #777774 !important;}
	.btn-default:hover {color: #fff !important; background: #00A9E0; border: none;}
	p {margin:7px 0 5px;}
}
 
.divImgItem {width: 100%;  position: relative; border: 1px solid #F4F4EF;
	img {@include ajustarImg;}
}
.iconos{padding: 0.5em; border-bottom: 1px dashed #C6C6C6; margin-bottom: 0.5em;
	i{cursor: pointer;
		&:hover {color:#3885C7;}
	}
	a + a {margin-left:0.5em}
}

.lazy {margin: 0}
.bandaOfertas, .bandaNuevos {/*color: #fff;*/ font-size: 1.2em; position: absolute; bottom: 0; left: 0; padding: 0.1em 0.5em;}
//.bandaOfertas {background: #D52318; font-weight: 700;}
//.bandaNuevos {background: #ff7503}
.bandaProd span {margin-right: 1em; font-size: 0.938em; text-transform: uppercase; margin-top: 0.6em;}
.bandaOfertas span{font-weight: 300;}
.sortable div{cursor:move;}

// Agregar Productos
.divCargaTitProd, .divEstado  {}
.divEstadoNuevo {border-bottom: 1px solid #F4F4EF;
	label {padding-left:0;
		input[type=checkbox] {position: relative; top: 3px; margin-right: 7px;}
		i {color: #B6B6B6}
	}
}
.radio label {padding-left:0}
.divEstadoOferta {
	label {font-weight:normal;
			span{margin-right: 0.5em;}
			input[type=checkbox] {position: relative; top: 3px; margin-right: 7px;}
			i {color: #B6B6B6}
		}
	input[type=text]{width: 60px; display: inline-block;}
}

.checkEstado {float: left; padding-top: 0.5em;}
.divPrecio {display: inline-block; float: right; margin-left: 1em;}
.modIndicarSeccion {@include fondoDestacado; display: table; width: 100%;
	.cadaSeccion {font-size: 1em; border-bottom: 1px solid #C6C6C6; padding: 0.6em 0; display: table-row;
		div {display: table-cell; padding: 0.5em 1em 0.5em 0; border-bottom: 1px solid #C6C6C6;}
		div:first-child {font-size: 16px; width: 10%;}
		span {display: inline-block;}
		input[type=checkbox] {margin-right: 0.3em}
		label {margin-right: 1.2em; vertical-align: 2px}
	}
 }

// Carga Imagen Producto
.divCargarImg {@include fondoDestacado;}
.divVistaImgCargada {@include lineaPunteada; width:230px; height:230px; background:#fff; margin-bottom:1.3em;
	img {@include ajustarImg;}
	}
.imgSeleccionadas .thumbnail {margin-bottom:0}
.imgSelecDestacada {
	img {border: 4px solid #3074B1; box-sizing: content-box; position: relative;top: -4px;}
	input.form-control {position:relative; top:-8px; left:4px}
}
.divImgCargada { height: 20em; width: 20em; position: relative; box-sizing: border-box; @include marginBottom2;
	i {position: absolute; top: 0.6em; right: 0.6em; font-size: 1.4em; color: #337ab7; background: #fff; border-radius: 50%; -webkit-border-radius: 50%; -moz-border-radius: 50%;}
}
.divImgCargadaPortSimple {height: 20em; width: 20em; position: relative; box-sizing: border-box; @include marginBottom2;
	i {position: absolute; top: 0.6em; right: 0.6em; font-size: 1.4em; color: #337ab7; background: #fff; border-radius: 50%; -webkit-border-radius: 50%; -moz-border-radius: 50%;}
}

// Carga de Videos
.divCargaVideos .form-group:last-child {margin:0}
.video-tc {border:0; width:100%; height:200px}

// Recorte de Imágenes
.cropArea {@include lineaPunteada; background: #fff; margin-left: auto; margin-right: auto;overflow: hidden; width:100%; height:390px;}

/*.divImgResultante {@include marginBottom1; background: #fff; height:300px; text-align:center;}*/
img-crop {width: 100%; height: 100%; display: block; position: relative; overflow: hidden;}
img-crop canvas {display: block; position: absolute; top: 0%; left: 50%; outline: none; -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
 /* mobile webkit */}
.progress {height: 12px; width: 93%; float: left; margin-right: 1em;}
.progress i{color: #1D6A0E; margin-left: 2%; position: relative;}
.glyphicon {top: -3px}
.glyphicon-ok {color:green}
.glyphicon-remove {color:red}

//Detalle de Productos
.precio-detProd {background:#E30F19; color:#fff; padding:1px 3px; padding: 3px 8px; margin-bottom: 1em; display: inline-block;}

// Marca
.marca_imagen_preview img {@include ajustarImg;}
p.marca {padding: 0.5em 0 0 0.5em;}

// Carga PDF
.descargarPDF {background: url(../images/pdficon_large.png) no-repeat; padding: 10px 0 0 40px; height: 32px; display: inline-block; margin-bottom: 15px;}
.archivoCargado {background:#fff; padding: 0.25em 0.25em 0.4em; margin-bottom:1em;
	.descargarPDF {margin-bottom:0}
	i {font-size: 1.4em;}
}

/* -- PORTFOLIO SIMPLE -- */
//Listados Obras

//Agregar Obra
/*.divCargaImgHoriz {@include fondoDestacado; @include marginBottom2;}*/
.resultadoImgCargada h3 {margin-top: 12px !important;}
.divCargaImg .fa-lg {font-size: 1.2em; color:#286090; cursor: pointer }



/* -- Menu ADMIN -- */

.divLogin {margin: 100px auto 250px auto; width: 300px;}

.headerAdmin {background: #000; border-bottom: 1px solid #fff; height:3.125em; color: #fff; position: relative; 
	.divSalir {position: absolute;right: 0}
	.divAdministrar {position: absolute; left: 0}
	.salir{color:#fff; padding: 0 1em; margin-left: 1em}
}

.btnCalado {display:inline-block; color:#fff !important; padding: 0.625em 0.938em;
	i {cursor:pointer; margin-right: 0.313em}
	i:before {color: #337ABA} // cambia color del ícono del Menú Admin a tono del cliente
	i:hover i:before {color: #337ABA;}
}
.infoTxt {font-size: 14px !important; color: #9E9E9E;
	i {margin-right: 0.3em; font-size: 1.6em; color:#CACACA; vertical-align: middle;}
}




/* -- Modal -- */
.modal-header, .modal-footer {border: 0}



/* -- Generales Admin -- */
.form-group span {display: inline-block; margin:0 0.3em; font-size: 2em;}
.form-group p {font-size: 1em; padding-top: 0.5em;}

.border-top {padding-top: 1.5em; border-top: 1px solid #C6C6C6;}

/* -- Firma ESTUDIO -- */

.firmalaura {color:#9B9B9B;font-size: 11px; 
	a {color:#9B9B9B;
		&:hover {color:#626263;}
	}
}