//PRODUCTOS

.divProductos {vertical-align: top; border-top: 1px solid #C6C6C6; padding-top: 1em; min-height: 10em}
.divProductos h3{margin-top: 0.3em}

.ulProductos{margin: 0 -0.625em}
.ulProductos li{background:#fff; float:left; margin:2em 0.9%; width: 18.2%; box-sizing: content-box; position: relative; text-align: left}
.ulProductos li img{width: 100%; display:block !important }
.ulProductos p{margin: 0}
.ulProductos .tituloProducto{height: 45px;display: table-cell; vertical-align: bottom;}
.ulProductos .marca{font-size: 1.125em; font-weight:600 ; margin-bottom: 0.4em}
.precio{display: inline-block; float: left; height: 26px; line-height: 26px; width: 62%; text-align: center; border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px;}
.precio{background: #D62B0F; color: #fff; font-size: 1.125em;}
a.detalle{background: #D1D2D3; color: #0e4b70;display: inline-block; float: right; height: 26px; line-height: 26px; border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px; width: 35%; text-align: center;}
a.detalle:hover{background: #C5E1F1; }


//ICONOS

.iconos{padding: 0.5em 0.5em 0.563em; height: 1em; border-bottom: 1px dashed #C6C6C6;}
.iconos i{cursor: pointer}
.iconos .fa-pencil{margin-right: 0.5em}